/shap
/data/rawdata/*
/data/*.npz
epoched/STvsRest.mat
/models/__pycache__
.DS_Store
/*__pycache__/*
*cpython-39.pyc
/classification/__pycache__
/data/epoched_no_asr
results/20250422190952_consolidated_results.pkl
results/20250504212508_consolidated_results.pkl
global_scaler.pkl
matlab_scripts/data/CBH0014.vmrk
matlab_scripts/data/CBH0014.vhdr
matlab_scripts/data/CBH0014.eeg
/matlab_scripts/data
/matlab_scripts/epoched
/matlab_scripts/tf*.mat
matlab_scripts/tf_*
matlab_scripts/tf_MI_db.mat
matlab_scripts/tf_Rest_db.mat
/matlab_scripts/power
matlab_scripts/time_frequency_analysis_ALL_RESULTS.mat
matlab_scripts/time_frequency_analysis_ALL_RESULTS_ICA.mat
matlab_scripts/time_frequency_analysis_TAPSTART.mat
